html, body {
  background: #CFD8DC;
  font-family: 'Roboto', sans-serif;
}

#app {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.app-tabs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #212121;

  .tab {
    cursor: pointer;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border-left: 7px solid transparent;
    color: white;
    opacity: 0.6;
    transition-duration: .3s;
    text-transform: uppercase;

    &.active {
      border-left: 7px solid #CFD8DC;
      opacity: 1;
    }
  }
}

.app-content {
  position: absolute;
  left: 250px;
  bottom: 0;
  top: 0;
  right: 0;
  background: #CFD8DC;
  overflow: auto;
}

.config-tab {
  padding: 10px;
}


.jv-obj {
  margin-left: 10px;
}

.jv-console {
  color: white;
  background: rgb(29, 29, 29);
  overflow: auto;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 5px;
}

.jv-pre {
  font-family: 'Roboto Mono', monospace;
}

.js-obj-more {
  cursor: pointer;
  &:hover {
    background: #44d0e9;
  }
}
