.system {
  position: absolute;
  height: 120px;
  width: 300px;
  bottom: 2%;
  right: 2%;
  background: rgba(0, 0, 0, 0.68);
  padding: 10px;
  transition-duration: .3s;
  color: white;
  line-height: 1.5;

  p {
    margin: 0;
    padding: 0;
  }
}

.full {
  bottom: 50%;
  right: 50%;
  width: 500px;
  height: 300px;
  transform: translate(50%, 50%);
}

.btn {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background: rgba(86, 74, 218, 0.92);
  color: white;

  &:hover {
    background: rgba(86, 74, 218, 1);
  }
}
