<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html, body {
        height: 100%;
        overflow: hidden;
        background: black;
        color: white;
        margin: 0;
        padding: 0;
      }
      #app-canvas {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      #app-ui {
        position: absolute;
      }
      #basic-boot {
        position: fixed;
        padding: 10px 20px;
        bottom: 2%;
        right: 2%;
        height: 120px;
        width: 400px;
        overflow: hidden;
      }
      #basic-boot span {
        height: 20px;
        display: block;
        font-family: monospace;
        text-align: right;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <div id="app-canvas"></div>
    <div id="app-ui"></div>
    <div id="basic-boot">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <script type="text/javascript">
      var numberOfMessages = 6;
      var HAS_PERFORMANCE_NOW = (typeof performance !== 'undefined' && performance.now);
      var currentTime = HAS_PERFORMANCE_NOW ? () => performance.now() : () => new Date().getTime();
      var BOOT_TIMER = null;
      var BASIC_BOOT_STOPED = false;

      var container = document.getElementById('basic-boot');
      // Get spans
      var spans = [].map.call(container.childNodes, function(element) { return element; })
      spans = spans.filter(function  (item) {
        return item.tagName === 'SPAN';
      });

      window.__START_TIME = currentTime();
      window.__MESSAGES = [
        { key: 'boot', progress: 0 }
      ];
      window.__STOP_BASIC_BOOT = function  () {
        BASIC_BOOT_STOPED = true;
        clearTimeout(window.BOOT_TIMER);
        container.parentElement.removeChild(container);
      }

      function addMessage (msg) {
        window.__MESSAGES.push(msg);
        if (window.__MESSAGES.length > numberOfMessages) {
          window.__MESSAGES = window.__MESSAGES.slice(-numberOfMessages);
        }
      }

      function renderMessage (msg) {
        if (msg === undefined) {
          return '';
        }
        return 'Booting System... ' + Math.floor(msg.progress) + ' / 100';
      }

      function render () {
        var messagesToDisplay = window.__MESSAGES.slice().reverse();
        for (var i = 0; i < numberOfMessages; i++) {
          var msg = messagesToDisplay[i];
          spans[(numberOfMessages - 1) - i].innerHTML = renderMessage(msg);
        }
      }

      function update () {
        render();
        console.log('BASIC_BOOT_STOPED', BASIC_BOOT_STOPED);
        // Add message
        var lastMessage = window.__MESSAGES[window.__MESSAGES.length - 1];
        var nextProgress = lastMessage.progress + (2 + Math.floor(Math.random() * 3));
        if (lastMessage.progress > 70) {
          nextProgress = lastMessage.progress + (1 + Math.floor(Math.random() * 3));
        }
        if (lastMessage.progress > 90) {
          nextProgress = lastMessage.progress + (1 + Math.floor(Math.random() * 2));
        }
        var time = 100;
        if (nextProgress > 99) {
          nextProgress = 99;
        }
        if (nextProgress > 80) {
          time = 100 + Math.pow(1.15, nextProgress - 40);
        }
        if (nextProgress === 99) {
          return;
        }
        addMessage({ key: 'boot', progress: nextProgress });
        BOOT_TIMER = setTimeout(update, time);
      }

      update();

    </script>
  </body>

</html>
