<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html, body {
        height: 100%;
        overflow: hidden;
        background: black;
        color: white;
      }
      #app-canvas {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      #app-ui {
        position: absolute;
      }
    </style>
  </head>

  <body>
    <div id="app-canvas"></div>
    <div id="app-ui">
      [here should be a very cool loader]
    </div>
    <script type="text/javascript">
      var HAS_PERFORMANCE_NOW = (typeof performance !== 'undefined' && performance.now);
      var currentTime = HAS_PERFORMANCE_NOW ? () => performance.now() : () => new Date().getTime();
      window.__START_TIME = currentTime();
    </script>
  </body>

</html>
